@model IEnumerable<And.Eticaret.Core.Model.Entity.Category>

@{ 
    foreach (var item in Model)
    {
        <li class="item"><a href="/Kategori/@item.Name.Replace(" ","-")/@item.ID" class="list-group-item-heading" >@item.Name</a></li>
    }
}